header {
    display: block;
}

.App {
    height: 100%;
}

.nav-header {
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(12,13,14,0.15);
    height: 60px;
}

.nav-header .container {
    max-width: 900px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container {
    max-width: 900px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.main {
    padding-top: 50px;
    justify-content: space-around;
}

.navigation {
    height: 100%;
    transform-origin: left center;
    display: inline-flex;
    flex: 1 0 auto;
}

.navigation .list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.navigation .right {
    margin-left: auto;
}

.navigation .list .item {
    display: inline-flex;
    line-height: 1;
}

.navigation .list .item:hover {
    background: #f0f0f0;

}

.navigation .list .item .link {
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    color: #242729;
    text-decoration: none;
}