@import "../mixins";

.game-menu-container {
  height: 100vh;
}
.game-menu-menu {
  height: 80%;
  margin: auto 20%;
  align-items: center;

  @include center-element;
}

.game-menu-item {

  background-color: lightblue;
  border: 1px solid black;
  margin: 10% 0;
  line-height: 50px;
  text-align: center;

  a:hover {
    background-color: greenyellow;
  }
}
